<div class="menu " >
    <div class="menu__options flex-container" style="--justify-content: space-around; --align-items: center;">
        <div class="menu__logo pointer" routerLink="/inicio"> </div>

        <div class="menu__search flex-container">
            <input class="lib-input" type="text" placeholder="Busqueda de Libros ">
            <button class="lib-button">
                <app-icon icon="search" [size]=28></app-icon>
            </button>
        </div>

        <div class="menu__nav flex-container">
            <button class="lib-button mobile__search">
                <app-icon icon="search" [size]=28></app-icon>
            </button>

            <button class="lib-button" (click)="toggleMenu(menu, $event)">
                <p-menu #menu [model]="items" [popup]="true" [ngClass]="authenticated ? '' : 'p-hidden-accessible'"></p-menu>
                <app-icon icon="person" [size]=28></app-icon>
            </button>
            
            <button class="lib-button">
                <app-icon icon="shopping_cart" [size]=28></app-icon>
            </button>
        </div>
    </div>
    
    @if (loading) {
        <p-progressBar mode="indeterminate" [style]="{ height: '4px' }"></p-progressBar>
    }
</div>