<div class="menu " >
    <div class="menu__options flex-container" style="--justify-content: space-around; --align-items: center;">
        <div class="menu__logo pointer" routerLink="/inicio"> </div>

        <div class="menu__search flex-container">
            <input class="lib-input" type="text" [formControl]="searchControl" placeholder="Busqueda de Libros "
                        (focus)="inputHasFocus = true" 
                        (blur)="inputHasFocus = false">
            @if (displayResults &&( inputHasFocus || hoveringOverResults)) {
                <app-search-results [receivedValue]="searchRequestValue" (mouseenter)="setHoveringOverResults(true)" 
                (mouseleave)="setHoveringOverResults(false)" ></app-search-results>
            }
            <button class="lib-button">
                <app-icon icon="search" [size]=28></app-icon>
            </button>
        </div>

        <div class="menu__nav flex-container">
            <button class="lib-button mobile__search" (click)="dialogSearch()">
                <app-icon icon="search" [size]=28></app-icon>
            </button>

            <button class="lib-button" (click)="toggleMenu(menu, $event)">
                <p-menu #menu [model]="items" [popup]="true" [ngClass]="authenticated ? '' : 'p-hidden-accessible'"></p-menu>
                <app-icon icon="person" [size]=28></app-icon>
            </button>
            
            <button class="lib-button">
                <app-icon icon="shopping_cart" [size]=28></app-icon>
            </button>
        </div>
    </div>
    
    @if (loading) {
        <p-progressBar mode="indeterminate" [style]="{ height: '4px' }"></p-progressBar>
    } 
</div>


<p-dialog [position]="'top'" [(visible)]="visible" [modal]="true" [style]="{ width: '80vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="headless">
        
        <div class="mobile-search">
            <div class="mobile-search__bar">
                <input class="lib-input" type="text" [formControl]="searchControl" placeholder="Ingresa tu busqueda...">
                <app-icon icon="close" (click)="dialogSearch()"></app-icon>
            </div>
            
            @if (displayResults) {
                <app-search-results [receivedValue]="searchRequestValue" [absolute]="false"></app-search-results>
            }
        </div>

    </ng-template>
</p-dialog>