<form class="container flex-container" [formGroup]="newPass" (ngSubmit)="onSubmit()">
    <div class="form__group" style="--align-items: center;">
        <p class="lib-msg">Ingresa tu nueva contraseña</p>
        <input class="form__input" formControlName="contraseña" id="contraseña" pInputText type="password" placeholder="Contraseña"
        [ngClass]="{'lib-invalid': newPass.get('contraseña')?.touched && newPass.get('contraseña')?.invalid}">

        @if (newPass.get('contraseña')?.touched && newPass.get('contraseña')?.invalid) {
            <p class="lib-invalid__message">La contraseña es requerida.</p>
            }




        <p class="lib-msg">Confirma tu contraseña</p>
        <input class="form__input" formControlName="confirmar-contraseña" id="contraseña" pInputText type="password" placeholder="Confirmar contraseña"
        [ngClass]="{'lib-invalid': newPass.get('confirmar-contraseña')?.touched && newPass.get('confirmar-contraseña')?.invalid}">
        
        @if (newPass.get('confirmar-contraseña')?.touched && newPass.get('confirmar-contraseña')?.invalid) {
            <p class="lib-invalid__message">La contraseña es requerida.</p>
            }
    </div>
    <div class="form__group">
        <button class="lib-button"  type="submit">
            Recuperar
        </button>
        @if (newPass.get('contraseña')?.value !== newPass.get('confirmar-contraseña')?.value){
            <p class="lib-invalid__message">Las contraseñas deben coincidir.</p>
        }
        
    </div>  
</form>