.lib-msg{
    font-size: 1.3em;
    text-align: center !important;
  }
  .form__group{
    width: 100%;
    gap: 0;
    
  }

  .lib-button{
    border-radius: 100px;
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  
  .lib-msg{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.3rem;;
    text-align: center !important;
  } 

.form__input{
  height: 35px;
}

  .container{
    gap: 2rem;
  }


  .lib-invalid__message{
    font-size: var(--font-size-sm);
    color: red;
    margin: 0;
  }