<form class="container flex-container" [formGroup]="newPass" (ngSubmit)="onSubmit()">
    <div class="form__group" style="--align-items: center;">
        <p class="lib-msg">Ingresa tu nueva contraseña</p>
        <input class="form__input" formControlName="clave" id="clave" pInputText type="password" placeholder="Contraseña"
        [ngClass]="{'lib-invalid': newPass.get('clave')?.touched && newPass.get('clave')?.invalid}">

        @if (newPass.get('clave')?.touched && newPass.get('clave')?.invalid) {
            @if (newPass.get('clave')?.errors?.['required']){
            <p class="lib-invalid__message">La Contraseña es requerida.</p>
            }
            @if (newPass.get('clave')?.errors?.['minlength']){
            <p class="lib-invalid__message">La contraseña debe tener al menos 5 caracteres.</p>
            }
            @if (newPass.get('clave')?.errors?.['maxlength']){
            <p class="lib-invalid__message">La contraseña no puede exceder los 32 caracteres</p>
            }
            @if (newPass.get('clave')?.errors?.['pattern']){
            <p class="lib-invalid__message">La contraseña debe contener al menos una mayúscula, un número y un símbolo especial.</p>
            }
            }

        <p class="lib-msg">Confirma tu contraseña</p>
        <input class="form__input" formControlName="claveRepetida" id="claveRepetida" pInputText type="password" placeholder="Confirmar contraseña"
        [ngClass]="{'lib-invalid': newPass.get('claveRepetida')?.touched && newPass.get('claveRepetida')?.invalid}">
        
        @if (newPass.get('claveRepetida')?.touched && newPass.get('claveRepetida')?.invalid) {
            <p class="lib-invalid__message">La contraseña es requerida.</p>
            }
    </div>
    <div class="form__group">
        <button class="lib-button"  type="submit">
            Recuperar
        </button>
        @if (newPass.get('contraseña')?.value !== newPass.get('claveRepetida')?.value){
            <p class="lib-invalid__message">Las contraseñas deben coincidir.</p>
        }
        
    </div>  
</form>