<div class="search-page flex-container">
    <div class="search-page__content flex-container" style="--flex-direction: column;">
        <div class="books-category-container flex-container" style="--flex-direction: row">
            <div class="filters flex-container">
                <app-accordion [ngClass]="{'hidden': !accordionVisible, 'mobile': true}"  (filtersChanged)="handleFiltersChanged($event)" ></app-accordion>
                @if (accordionVisible) {
                    <div class="accordion-overlay" (click)="showAccordion()"></div>
                }
            </div>
            <div>
                <button class="toggle-button" (click)="showAccordion()">
                    <app-icon icon="menu" [size]=28></app-icon>
                </button>
            </div>
            <app-books [filters]="filters" ></app-books>
        </div>
    </div>
</div>