<div class="home-page flex-container">
    <div class="home-page__content flex-container" style="--flex-direction: column;">
        <div class="recommendation-board flex-container">
            <div class="recommendation-board__content flex-container">
                <h1>Aqui debe ir un carrusel con 3 o 4 libros</h1>
            </div>
        </div>
        <div class="books-category-container flex-container" style="--flex-direction: row">
            <div class="categories flex-container">
                <app-sidebar [ngClass]="{'hidden': !sidebarVisible}"></app-sidebar>
            </div>
            <div>
                <button class="toggle-button" (click)="showSidebar()">
                    <app-icon icon="menu" [size]=28></app-icon>
                </button>
            </div>
            <app-books></app-books>
        </div>
    </div>
</div>