<div class="accordion flex-container">
    <div class="accordion__content flex-container" style="--flex-direction: column">
        <div class="accordion__title flex-container" style="--flex-direction: row">
            <h2>Filtrado</h2>
            <button class="clear-button" (click)="clearSelection()">
                <abbr title="Limpiar filtros">
                    <app-icon icon="ink_eraser" [size]=28></app-icon>
                </abbr>
            </button>
        </div>
        <div class="accordion__categories">
            <p-accordion  [activeIndex]="0">
                <p-accordionTab header="Categorias">
                    <ul>
                        @for (book of booksGenres; track $index) {
                        <li (click)="onCategorySelected(book)" [ngClass]="{'selected': book.genero === currentGenre}">
                            {{book.genero}}</li>
                        }
                    </ul>
                </p-accordionTab>
                <p-accordionTab header="Precio">
                    <ul>
                        @for (price of booksPrices; track $index) {
                            <li class="price" (click)="onPriceSelected(price)" [ngClass]="{'selected': price.id === currentIdPrice}">
                                {{price.minPrice | currency: 'COP' }} - {{price.maxPrice | currency: 'COP' }}
                            </li>
                        }
                    </ul>
                    <div class="order">Ordenar por:</div>
                    <ul>
                        <li (click)="onSortSelected('min_max')" [ngClass]="{'selected': sortOrder === 'min_max'}">Menor a Mayor</li>
                        <li (click)="onSortSelected('max_min')" [ngClass]="{'selected': sortOrder === 'max_min'}">Mayor a Menor</li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab header="Estado" >
                    <ul>
                        <li (click)="onStateSelected(true)" [ngClass]="{'selected': isNew == true}">Usado</li>
                        <li (click)="onStateSelected(false)" [ngClass]="{'selected': isNew == false}">Nuevo</li>
                    </ul>
                </p-accordionTab>
                <p-accordionTab header="Idioma">
                    <ul>
                        <li (click)="onLanguageSelected('Español')" [ngClass]="{'selected': currentLanguage === 'Español'}">Español</li>
                        <li (click)="onLanguageSelected('Ingles')" [ngClass]="{'selected': currentLanguage === 'Ingles'}">Inglés</li>
                    </ul>
                </p-accordionTab>
                

            </p-accordion>
        </div>
    </div>
</div>