.home-page {
  width: 100%;
  height: 100%;
  margin: auto;
}

.home-page__content {
  background-color: white;
  width: 100vw;
  height: 100%;
}

.categories {
  padding-top: 1rem;
}

app-sidebar {
  max-width: 346px;
  transition: max-width 0.5s ease, opacity 1s ease;
  overflow: hidden;
  opacity: 1;
}

.hidden {
  max-width: 0;
  opacity: 0;
  transition: max-width 0.5s ease, opacity 1s ease;
}

.toggle-button {
  all: unset;
  background-color: transparent;
  color: #5e5e5e;
  cursor: pointer;
  padding-top: 2rem;
  padding-left: 1rem;
}
.toggle-button:hover {
  color: #f48b6b;
}

@media (max-width: 768px) {
  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: block; 
  }

  .mobile.hidden + .sidebar-overlay {
    display: none; 
  }

  app-sidebar.mobile {
    border-radius: 10px;
    position: absolute;
    
    max-width: 100%;
    width: 80%;
    z-index: 11;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    background-color: white;
    height: 100%; 
    overflow-y: auto; 
  }

  app-sidebar.mobile:not(.hidden) {
    transform: translateX(0);
  }

  .toggle-button {
    padding-left: 0.5rem;
    padding-top: 0.8rem;
  }
}

@media (min-width: 769px) {
  .sidebar-overlay {
    display: none;
  }
}
