<div class="container">
    <form class="edit-info__form" [formGroup]="editInfoForm" (ngSubmit)="onSubmit()">
        <p class="edit-msg">Editar informacion</p>
        <div class="form__group flex-container">
            <div class="form__data flex-container" style="--flex-direction: column">
                <div class="input__group">
                    <label>ISSN</label>
                    <input type="text" placeholder="ISSN" pInputText formControlName="ISSN" normalizeSpaces  
                        [ngClass]="{'lib-invalid': editInfoForm.get('ISSN')?.touched && editInfoForm.get('ISSN')?.invalid}">
                        @if (editInfoForm.get('ISSN')?.touched && editInfoForm.get('ISSN')?.invalid) {
                            @if (editInfoForm.get('ISSN')?.errors?.['required']) {
                                <p>El ISSN es requerido.</p>
                            }
                            @if (editInfoForm.get('ISSN')?.errors?.['pattern']) {
                                <p>El ISSN debe tener exactamente 13 digitos.</p>
                            }
                        }
                </div>
                

                <div class="input__group">
                    <label>Título</label>
                    <input type="text" placeholder="Título" pInputText formControlName="titulo" normalizeSpaces 
                        [ngClass]="{'lib-invalid': editInfoForm.get('titulo')?.touched && editInfoForm.get('titulo')?.invalid}">
                        @if (editInfoForm.get('titulo')?.touched && editInfoForm.get('titulo')?.invalid) {
                            @if (editInfoForm.get('titulo')?.errors?.['required']) {
                                <p>El título es requerido.</p>
                            }
                            @if (editInfoForm.get('titulo')?.errors?.['maxlength']) {
                                <p>El título no debe superar los 200 caracteres.</p>
                            }
                        }
                </div>

                <div class="input__group">
                    <label>Autor</label>
                    <input type="text" placeholder="Autor" pInputText formControlName="autor" normalizeSpaces
                        [ngClass]="{'lib-invalid': editInfoForm.get('autor')?.touched && editInfoForm.get('autor')?.invalid}">
                    @if (editInfoForm.get('autor')?.touched && editInfoForm.get('autor')?.invalid) {
                        @if (editInfoForm.get('autor')?.errors?.['required']) {
                            <p>El autor es requerido.</p>
                        }
                        @if (editInfoForm.get('autor')?.errors?.['maxlength']) {
                            <p>El autor no debe superar los 100 caracteres.</p>
                        }
                    }
                </div>

                <div class="input__group">
                    <label>Reseña</label>
                    <textarea placeholder="Reseña" pInputTextarea cols="30" formControlName="resenia"
                        [ngClass]="{'lib-invalid': editInfoForm.get('resenia')?.touched && editInfoForm.get('resenia')?.invalid}"></textarea>
                    @if (editInfoForm.get('resenia')?.touched && editInfoForm.get('resenia')?.invalid) {
                        @if (editInfoForm.get('resenia')?.errors?.['required']) {
                            <p>La reseña es requerida.</p>
                        }
                        @if (editInfoForm.get('resenia')?.errors?.['maxlength']) {
                            <p>La reseña no debe superar los 500 caracteres.</p>
                        }
                    }                            
                </div>

                <div class="input__group">
                    <label>Número de Páginas</label>
                    <input type="number" placeholder="Número de Páginas" pInputText formControlName="num_paginas" normalizeSpaces
                        [ngClass]="{'lib-invalid': editInfoForm.get('num_paginas')?.touched && editInfoForm.get('num_paginas')?.invalid}">
                    @if (editInfoForm.get('num_paginas')?.touched && editInfoForm.get('num_paginas')?.invalid) {
                        @if (editInfoForm.get('num_paginas')?.errors?.['required']) {
                            <p>El número de páginas es requerido.</p>
                        }
                        @if (editInfoForm.get('num_paginas')?.errors?.['min']) {
                            <p>El número de páginas debe ser mayor que 0.</p>
                        }
                    }
                </div>

                <div class="input__group">
                    <label>Idioma</label>
                    <p-dropdown [options]="bookLanguages" placeholder="Idioma" formControlName="idioma" [filter]="true"
                            [ngClass]="{'lib-invalid': editInfoForm.get('idioma')?.touched && editInfoForm.get('idioma')?.invalid}"></p-dropdown>
                    @if (editInfoForm.get('idioma')?.touched && editInfoForm.get('idioma')?.invalid) {
                        @if (editInfoForm.get('idioma')?.errors?.['required']) {
                            <p>El idioma es requerido.</p>
                        }
                        @if (editInfoForm.get('idioma')?.errors?.['maxlength']) {
                            <p>El idioma no debe superar los 32 caracteres.</p>
                        }
                    }
                        
                </div>
            </div>
            
            
            <div class="form__data flex-container" style="--flex-direction: column">
                <div class="input__group">
                    <label>Fecha de Publicación</label>
                    <p-calendar placeholder="Fecha de Publicación" formControlName="fecha_publicacion" dateFormat="dd/mm/yy" [maxDate]="maxDate"
                        [ngClass]="{'lib-invalid': editInfoForm.get('fecha_publicacion')?.touched && editInfoForm.get('fecha_publicacion')?.invalid}"></p-calendar>
                </div>
                @if (editInfoForm.get('fecha_publicacion')?.touched && editInfoForm.get('fecha_publicacion')?.invalid) {
                    @if (editInfoForm.get('fecha_publicacion')?.errors?.['required']) {
                        <p>La fecha de publicación es requerida.</p>
                    }
                }

                <div class="input__group">
                    <label>Estado</label>
                    <p-dropdown [options]="bookStatus" placeholder="Estado" formControlName="estado"
                        [ngClass]="{'lib-invalid': editInfoForm.get('estado')?.touched && editInfoForm.get('estado')?.invalid}"></p-dropdown>
                    @if (editInfoForm.get('estado')?.touched && editInfoForm.get('estado')?.invalid) {
                        @if (editInfoForm.get('estado')?.errors?.['required']) {
                            <p>El estado es requerido.</p>
                        }
                    }
                </div>


                <div class="input__group">
                    <label>Precio</label>
                    <input type="number" placeholder="Precio" pInputText formControlName="precio" normalizeSpaces
                        [ngClass]="{'lib-invalid': editInfoForm.get('precio')?.touched && editInfoForm.get('precio')?.invalid}">
                    @if (editInfoForm.get('precio')?.touched && editInfoForm.get('precio')?.invalid) {
                        @if (editInfoForm.get('precio')?.errors?.['required']) {
                            <p>El precio es requerido.</p>
                        }
                        @if (editInfoForm.get('precio')?.errors?.['min']) {
                            <p>El precio debe ser mayor o igual a 0.</p>
                        }
                    }
                </div>

                <div class="input__group">
                    <label>Descuento</label>
                    <input type="number" placeholder="Descuento" pInputText formControlName="descuento" normalizeSpaces
                        [ngClass]="{'lib-invalid': editInfoForm.get('descuento')?.touched && editInfoForm.get('descuento')?.invalid}">
                    @if (editInfoForm.get('descuento')?.touched && editInfoForm.get('descuento')?.invalid) {
                        @if (editInfoForm.get('descuento')?.errors?.['min']) {
                            <p>El descuento debe ser mayor o igual a 0.</p>
                        }
                    }
                </div>

                <div class="input__group">
                    <label>Editorial</label>
                    <input type="text" placeholder="Editorial" pInputText formControlName="editorial" normalizeSpaces
                        [ngClass]="{'lib-invalid': editInfoForm.get('editorial')?.touched && editInfoForm.get('editorial')?.invalid}">
                    @if (editInfoForm.get('editorial')?.touched && editInfoForm.get('editorial')?.invalid) {
                        @if (editInfoForm.get('editorial')?.errors?.['required']) {
                            <p>La editorial es requerida.</p>
                        }
                        @if (editInfoForm.get('editorial')?.errors?.['maxlength']) {
                            <p>La editorial no debe superar los 100 caracteres.</p>
                        }
                    }
                        
                </div>

                <div class="input__group">
                    <label>Género</label>
                    <p-dropdown [options]="bookGenres" placeholder="Género" optionLabel="genero" formControlName="genero"
                        [ngClass]="{'lib-invalid': editInfoForm.get('genero')?.touched && editInfoForm.get('genero')?.invalid}"></p-dropdown>
                    @if (editInfoForm.get('genero')?.touched && editInfoForm.get('genero')?.invalid) {
                        @if (editInfoForm.get('genero')?.errors?.['required']) {
                            <p>El género es requerido.</p>
                        }
                    }
                </div>

                
            </div>

            
            <div class="input__group" style="padding-top: 1rem;">
                <label>Portada del libro</label>
                <p-fileUpload mode="advanced" chooseLabel="Portada"  accept="image/*" #coverUpload [customUpload]="true" (onSelect)="uploadFile($event)"
                            name="cover[]" accept="image/*" [maxFileSize]="1000000" [showCancelButton]="true" [showUploadButton]="false" cancelLabel="Cancelar">
                </p-fileUpload>
            </div>
        </div>
        <div class="form__submit flex-container" style="--flex-direction: column;">
            <button class="lib-button" type="submit" [ngClass]="{'lib-button-disabled': !editInfoForm.valid}" 
            [disabled]="!editInfoForm.valid">
                Guardar
            </button>
        </div>
    </form>

</div>