<h2>Cambiar Contraseña</h2>
<p>Ingrese contraseña actual</p>
<input #currentPasswordInput placeholder="Contraseña actual" class="lib-input">
<p>Ingrese su nueva contraseña</p>
<input #newPasswordInput placeholder="Nueva contraseña" class="lib-input">
<p>Confirme su contraseña</p>
<input #confirmPasswordInput placeholder="Reescriba su nueva contraseña" class="lib-input">
<button class="lib-button" (click)="onSave(currentPasswordInput.value, newPasswordInput.value, confirmPasswordInput.value)"> GUARDAR</button>

<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>