<div class="signup flex-container">
    <div class="signup__content flex-container" style="--justify-content: center; --align-items: center;">
        <form class="signup__form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form__title">
                <h1>Registro</h1>
            </div>

            <div class="form__group flex-container">
                <div class="form__data flex-container" style="--flex-direction: column;">
                    <div class="input__group">
                        <label>Ingresa tu DNI</label>
                        <input type="text" placeholder="DNI" pInputText formControlName="DNI"
                            [ngClass]="{'lib-invalid': registerForm.get('DNI')?.touched && registerForm.get('DNI')?.invalid}">
                        @if (registerForm.get('DNI')?.touched && registerForm.get('DNI')?.invalid) {
                            @if (registerForm.get('DNI')?.errors?.['required']){
                                <p>El DNI es requerido.</p>
                            }
                            @if (registerForm.get('DNI')?.errors?.['minlength']){
                                <p>El DNI debe tener al menos 7 caracteres</p>
                            }
                            @if (registerForm.get('DNI')?.errors?.['maxlength']){
                                <p>El DNI no debe superar los 10 caracteres</p>
                            }
                            @if (registerForm.get('DNI')?.errors?.['pattern']) {
                                <p>El DNI solo debe tener caracteres alfanumericos </p>
                            }
                        }
                    </div>
                    <div class="input__group">
                        <label>Ingresa tus Nombres</label>
                        <input pInputText type="text" placeholder="Nombres" formControlName="nombre"
                            [ngClass]="{'lib-invalid': registerForm.get('nombre')?.touched && registerForm.get('nombre')?.invalid}">
                        @if (registerForm.get('nombre')?.touched && registerForm.get('nombre')?.invalid) {
                            @if (registerForm.get('nombre')?.errors?.['required']){
                                <p>El Nombre es requerido.</p>
                            }
                            @if (registerForm.get('nombre')?.errors?.['maxlength']){
                                <p>El Nombre no debe teener mas de 32 caracteres.</p>
                            }
                        }
                    </div>
                    <div class="input__group">
                        <label>Ingresa tus Apellidos</label>
                        <input pInputText type="text" placeholder="Apellidos" formControlName="apellido"
                            [ngClass]="{'lib-invalid': registerForm.get('apellido')?.touched && registerForm.get('apellido')?.invalid}">
                        @if (registerForm.get('apellido')?.touched && registerForm.get('apellido')?.invalid) {
                            @if (registerForm.get('apellido')?.errors?.['required']){
                                <p>El Apellido es requerido.</p>
                            }
                            @if (registerForm.get('apellido')?.errors?.['maxlength']){
                                <p>El Apellido no debe teener mas de 32 caracteres.</p>
                            }
                        }
                    </div>
                    <div class="input__group">
                        <label>Ingresa tu País</label>
                        <p-dropdown [options]="countries" optionLabel="name" placeholder="País" [filter]="true"
                            (onChange)="onCountryChange()" formControlName="pais"
                            [ngClass]="{'lib-invalid': registerForm.get('pais')?.touched && registerForm.get('pais')?.invalid}"></p-dropdown>
                        @if (registerForm.get('pais')?.touched && registerForm.get('pais')?.invalid) {
                            <p>El Pais es requerido.</p>
                        }
                    </div>
                    <div class="input__group">
                        <label>Ingresa tu Estado/Departamento/Distrito</label>
                        <p-dropdown #stateDropdown [options]="states" optionLabel="name" placeholder="Estado"
                            [filter]="true" (onChange)="onStateChange()" formControlName="estado"
                            [ngClass]="{'lib-invalid': registerForm.get('estado')?.touched && registerForm.get('estado')?.invalid}"></p-dropdown>
                        @if (registerForm.get('estado')?.touched && registerForm.get('estado')?.invalid) {
                            <p>El Estado es requerido.</p>
                        }
                    </div>
                    <div class="input__group">
                        <label>Ingresa tu Ciudad</label>
                        <p-dropdown #cityDropdown [options]="cities" optionLabel="name" placeholder="Ciudad"
                            [filter]="true" formControlName="ciudad"
                            [ngClass]="{'lib-invalid': registerForm.get('ciudad')?.touched && registerForm.get('ciudad')?.invalid}"></p-dropdown>
                        @if (registerForm.get('ciudad')?.touched && registerForm.get('ciudad')?.invalid) {
                            <p>La ciudad es requerida.</p>
                        }
                    </div>
                </div>

                <div class="form__data flex-container" style="--flex-direction: column;">
                    <form class="flex-container" style="--justify-content: center; --align-items: center;"
                        formGroupName="direccion_envio">
                        <div class="input__address">
                            <label>Direccion</label>
                            <input pInputText type="text" placeholder="Direccion" formControlName="nombre_via"
                                [ngClass]="{'lib-invalid': registerForm.get('direccion_envio.nombre_via')?.touched && registerForm.get('direccion_envio.nombre_via')?.invalid}">
                                @if (registerForm.get('direccion_envio.nombre_via')?.touched && registerForm.get('direccion_envio.nombre_via')?.invalid) {
                                    <p>La direccion es requerida</p>
                                }
                        </div>
                        <div class="input__group-address">
                            <div class="input__field input__field-dropdown">
                                <label>Tipo</label>
                                <p-dropdown class="road-type" [options]="roads" formControlName="tipo_via"
                                    [ngClass]="{'lib-invalid': registerForm.get('direccion_envio.tipo_via')?.touched && registerForm.get('direccion_envio.tipo_via')?.invalid}"></p-dropdown>
                                    @if (registerForm.get('direccion_envio.tipo_via')?.touched && registerForm.get('direccion_envio.tipo_via')?.invalid) {
                                        <p>El tipo de via es requerido</p>
                                    }
                            </div>
                            <div class="input__field ">
                                <label>Numero</label>
                                <div class="input__field-number">
                                    <input pInputText type="number" formControlName="numero_exterior"
                                        [ngClass]="{'lib-invalid': registerForm.get('direccion_envio.numero_exterior')?.touched && registerForm.get('direccion_envio.numero_exterior')?.invalid}">
                                    <input pInputText type="number" formControlName="numero_interior"
                                        [ngClass]="{'lib-invalid': registerForm.get('direccion_envio.numero_interior')?.touched && registerForm.get('direccion_envio.numero_interior')?.invalid}">
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="input__group">
                        <label>Ingresa tu Género</label>
                        <p-dropdown [options]="genres" placeholder="Género" formControlName="genero"
                            [ngClass]="{'lib-invalid': registerForm.get('genero')?.touched && registerForm.get('genero')?.invalid}"></p-dropdown>
                        @if (registerForm.get('genero')?.touched && registerForm.get('genero')?.invalid) {
                            <p>El Genero es requerido.</p>
                        }
                    </div>

                    <div class="input__group">
                        <label>Ingresa tu Nacimiento</label>
                        <p-calendar placeholder="Fecha" formControlName="fecha_nacimiento" [defaultDate]="maxDate"
                            [maxDate]="maxDate" [minDate]="minDate" dateFormat="dd/mm/yy"
                            [ngClass]="{'lib-invalid': registerForm.get('fecha_nacimiento')?.touched && registerForm.get('fecha_nacimiento')?.invalid}"></p-calendar>
                        @if (registerForm.get('fecha_nacimiento')?.touched &&registerForm.get('fecha_nacimiento')?.invalid) {
                            <p>La fecha es requerida.</p>
                        }
                    </div>

                    <div class="input__group">
                        <label>Ingresa tu Correo Electrónico</label>
                        <input pInputText type="email" placeholder="Email" formControlName="correo_electronico"
                            [ngClass]="{'lib-invalid': registerForm.get('correo_electronico')?.touched && registerForm.get('correo_electronico')?.invalid}">
                        @if (registerForm.get('correo_electronico')?.touched && registerForm.get('correo_electronico')?.invalid) {
                            @if (registerForm.get('correo_electronico')?.errors?.['required']){
                                <p>El correo es requerido.</p>
                            }
                            @if (registerForm.get('correo_electronico')?.errors?.['pattern']) {
                                <p>Ingresa un correo valido </p>
                            }
                        }
                    </div>


                    <div class="input__group">
                        <label>Ingresa tu Usuario</label>
                        <input pInputText type="text" formControlName="usuario" placeholder="Usuario"
                            [ngClass]="{'lib-invalid': registerForm.get('usuario')?.touched && registerForm.get('usuario')?.invalid}">
                        @if (registerForm.get('usuario')?.touched && registerForm.get('usuario')?.invalid) {
                        <p>El Usuarioes requerido.</p>
                        }
                    </div>

                    <div class="input__group">
                        <label>Ingresa tu Contraseña</label>
                        <input pInputText type="password" formControlName="clave" placeholder="Contraseña"
                            [ngClass]="{'lib-invalid': registerForm.get('clave')?.touched && registerForm.get('clave')?.invalid}">

                        @if (registerForm.get('clave')?.touched && registerForm.get('clave')?.invalid) {
                        @if (registerForm.get('clave')?.errors?.['required']){
                        <p>La Contraseña es requerida.</p>
                        }
                        @if (registerForm.get('clave')?.errors?.['minlength']){
                        <p>La contraseña debe tener al menos 5 caracteres.</p>
                        }
                        @if (registerForm.get('clave')?.errors?.['maxlength']){
                        <p>La contraseña no puede exceder los 32 caracteres</p>
                        }
                        @if (registerForm.get('clave')?.errors?.['pattern']){
                        <p>La contraseña debe contener al menos una mayúscula, un número y un símbolo especial.</p>
                        }
                        }
                    </div>
                </div>
            </div>

            <div class="form__submit flex-container" style="--flex-direction: column;">
                <button class="lib-button" type="submit" [ngClass]="{'lib-button-disabled': !registerForm.valid}"
                    [disabled]="!registerForm.valid">
                    Registrarse
                </button>
                <a routerLink="/ingreso">Ya tienes una cuenta? <strong>Ingresa</strong></a>
            </div>
        </form>
    </div>
</div>