.recover{
  width: 100%;
  height: calc(100vh - 64px);
  min-height: 566px;
}

.recover__img{
  width: 50%;
  height: 100%;

}
.recover__img img{
  max-width: 100%;
  height: auto;
  
}

.recover__content{
  width: 70%;
}

.recover__form{
  width: 100%;
  min-width: 380px;
  max-width: 520px;
  max-height: 600px;
  min-height: 460px;
  height: 60%;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  gap: 1rem;
}
.form__logo img{
  width: 150px;
  height: 47px;
}
.form__title{
  font-weight: bolder;
  text-align: center;
  font-size: 1rem; 
}
.form__group{
  width: 60%;
  gap: 0;
}

.lib-button{
  border-radius: 100px;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.lib-msg{
  font-size: 1.3em;
  text-align: center !important;
}



@media (max-width: 830px){
  .recover__img {
      display: none;
      
  }
  .recover__content{
    width: 100%;
  }
  .recover{
    margin: 0 auto;
  }
  .lib-msg {
    font-size: 1px;
  }
  

}