.recover{
    width: 100%;
    height: calc(100vh - 64px);
    min-height: 566px;
    
    
  }
  
  .recover__img{
    width: 50%;
    height: 100%;

  }
  .recover__img img{
    max-width: 100%;
    min-height: 80%;
    object-fit: cover;
  }
  
  .recover__content{
    width: 70%;
  }
  
  .recover__form{
    width: 100%;
    min-width: 380px;
    max-width: 520px;
    max-height: 600px;
    min-height: 525px;
    height: 70%;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    gap: 1rem;
    margin: 150px;
  }
  .form__logo img{
    margin: 0px;
    width: 150px;
    height: 60px;
  }
  .form__title{
    font-weight: bolder;
    text-align: center;
  }
  .form__group{
    width: 70%;
    gap: 0;
  }

  .lib-button{
    border-radius: 100px;
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  
  .lib-msg{
    font-size: 1.3em;
    text-align: center !important;
  }

  input{
    box-shadow: 0 4px 2px -2px gray;
    height: 50px;
    
  }
  
  h1{
    font-size: 2rem;
  }

  @media (max-width: 830px){
    .recover__img {
        display: none;
        
    }
    .recover__content{
      width: 100%;
    }
    .recover{
      margin: 0 auto;
    }
    .lib-msg {
      font-size: 1px;
    }
    
  
  }