<div class="edit-profile flex-container">
    <div class="edit-profile__content flex-container " style="--justify-content: center; --align-items: center;">
        <div class="edit-profile__form">

            <div class="edit-profile__logo flex-container">
                <app-icon class="test" icon="person" [size]="iconSize" color="white"></app-icon>
            </div>


            <div class="form__title"> 
                <h1><span class="hide-mobile">BIENVENIDO</span> {{ user }}</h1>
            </div>

            <div class="form__group">
                @if (userRole != "admin" && userRole != "root") {
                    <p-tabMenu [model]="items" ></p-tabMenu>
                }

                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    
</div>