.book-details {
    width: 100%; 
    min-width: 100vw;
    margin: auto;
    background-color: rgb(249, 249, 249);
    box-shadow: inset 0 0px 10px -8px #000000;
    
  }

.book-details__content {
    width: 80%;
    height: 100%;
    margin-top: 5rem;
    
}

.book-details__upper {
    align-items: center; 
    margin-top: 2rem;
    z-index: 1;
    
}

.book-details__img{
    width: 50%;
}

.book-img{
    width: 400px;
    box-shadow: -20px 20px 20px 0 rgba(0, 0, 0, 0.5);
}

.book-info__upper{
    width: 50%;
    height: 100%;
}

.title {
    font-size: var(--font-size-xxl);
    font-weight: bolder;
}

.autor {
    font-size: var(--font-size-md);
    font-weight: bolder;
}

.prices-container {
    display: flex;
    flex-direction: column;      
    margin-top: 2rem;
    
  }
  
  .price-original {
    text-decoration: line-through;
    color: #999; 
    font-size: var(--font-size-xxl);
  }
  
  .price-discount {
    color: #ff6347; 
    font-weight: bold;
    font-size: var(--font-size-xxl);
  }

.book-actions{
    width: 70%;
    justify-content: space-between;
    font-size: var(--font-size-md);
    padding-top: 3rem;
}

  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px ;
    border: none;
    background-color: #002122;
    color: white; 
    border-radius: 50px; 
    cursor: pointer; 
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: #fd6c40
  }

.book-details__lower {
    align-items: start;
    justify-content: center;
    background-color: white;
    margin-top: -10rem;  
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.book-details__review {
    width: 50%;
    padding-left: 5rem;
    font-size: var(--font-size-md);

}

.review {
    text-align: justify;
}

.book-details__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 50%;
    margin: 0 2rem;
    font-size: var(--font-size-md);
    height: 100%;
    padding-left: 8rem;
}

.info-label {
    font-weight: bold; 
    display: block;
}

.info-item {
    margin-bottom: 1rem; 
}

.success-carrito {
    width: 200px;
    height: 75px;
    background-color: rgb(139, 247, 193);
    border-radius: 15px;
    position: fixed; 
    top: 55px; 
    right: 45px; 
    z-index: 1000;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 15px
}
.triangulo {
    width: 0;
    height: 0;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent;
    border-bottom: 10px solid rgb(139, 247, 193); 
    position: absolute; 
    top: -10px;
    opacity: 0;
}

@media (max-width: 768px) {
    .book-details__content {
        width: 90%;
        margin-top: 2rem;
    }

    .book-details__upper {
        flex-direction: column;
        align-items: center;
    }

    .book-details__img, .book-info__upper {
        width: 100%;
        text-align: center;
    }

    .book-img {
        width: 80%;
        margin-bottom: 3rem;
    }

    .book-actions {
        width: 100%;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }

    .book-details__lower {
        flex-direction: column;
        margin-top: 2rem;
        padding-top: 2rem;
    }

    .book-details__info{
        width: 90%;
        margin: 2rem 0 0 2rem;
        padding: 0;
    }

    .book-details__review{
        width: 100%;
        padding: 0 1rem;
    }

    .title {
        font-size: var(--font-size-xxl);
    }

    .autor {
        font-size: var(--font-size-md);
    }

    .price-original, .price-discount {
        font-size: var(--font-size-xl);
    }

    .btn {
        font-size: var(--font-size-sm);
        padding: 10px;
    }


}
